{{ define "index" }}

{{ $users := .users }}
{{ $types := .profiles }}

{{ template "header" }}
  <h1>Configs</h1> <br>
  <main class="px-3">
      {{ range $user := $users }}
          <div class="alert alert-success">
              <h2>{{ $user.Username }}</h2>
              {{ range $type := $types }}
                {{ if eq $user.Username $type.Username }}
                    <p><a href="get-file?id={{ $type.ID }}">{{ $type.Type }}</a></p>
                    <img src="img/{{ $type.ID }}_wg.png" alt="config qr code" width="256">
                {{ end }}
              {{ end }}
          </div>
      {{ else }}
          <p class="lead">No profiles</p>
      {{ end }}
  </main>
{{ template "footer" }}

{{ end }}